app/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>About</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./img/favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#b02786"/>
    <link rel="shortcut icon" href="./img/favicon/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#b02786"/>
    <meta name="msapplication-config" content="./img/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#b02786"/>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>
    <section class="ngl-home" style="background-image: url('../img/bg.jpg')">
      <div class="ngl-page">
        <div class="container">
          <ul class="languages">
            <li><a href="#">EN</a></li>
            <li><a class="active" href="#">RU</a></li>
            <li><a href="#">ES</a></li>
            <li><a href="#">CN</a></li>
          </ul>
          <div class="ngl-content">
            <div class="ngl-aside">
              <header class="main-header"><a class="logo-wrap" href="./" data-slide-index="0">
                  <div class="img-wrap"><img src="./img/logo.svg" alt=""/></div>
                  <div class="text-wrap">
                    <div class="title">ЛэдИнвест</div>
                    <div class="subtitle">стабильность и надёжность</div>
                  </div></a>
                <nav>
                  <ul>
                    <li><a class="active" href="./about.html" data-slide-index="1">О компании</a></li>
                    <li><a href="./tolling.html" data-slide-index="2">Толлинг</a></li>
                    <li><a href="./advantage.html" data-slide-index="3">Преимущества</a></li>
                    <li><a href="./ecology.html" data-slide-index="4">Экология</a></li>
                    <li><a href="./contacts.html" data-slide-index="5">Контакты</a></li>
                  </ul>
                </nav>
              </header>
            </div>
            <div class="ngl-slider-wrapper"><a class="next" href="./tolling.html"><img src="./img/next-btn.svg" alt=""></a>
              <div class="ngl-slider-wrap">
                <div class="slide slide-2">
                  <h2>О компании</h2>
                  <div class="items">
                    <div class="item">
                      <div class="img-wrap"><img src="./img/2-1.svg" alt=""/></div>
                      <p>ООО "ЛэдИнвест" участник процесса поддержания бережного отношения к окружающей среде, путем превращения отходов в сертифицированную продукцию высокого качества. </p>
                    </div>
                    <div class="item">
                      <div class="img-wrap"><img src="./img/2-2.svg" alt=""/></div>
                      <p>Оказываем помощь в доставке сырья до завода-переработчика через транспортные компании и поставляем готовую продукцию (марочный свинец) на рынки Европы и Азии. </p>
                    </div>
                    <div class="item">
                      <div class="img-wrap"><img src="./img/2-3.svg" alt=""/></div>
                      <p>Наша компания специализируется на заготовке, сборе и переработке лома, содержащего свинец, с последующей продажей готовой продукции. </p>
                    </div>
                    <div class="item">
                      <div class="img-wrap"><img src="./img/2-4.svg" alt=""/></div>
                      <p>Репутация ООО "ЛэдИнвест" строится на долгосрочных отношениях с партнерами, на четком соблюдении сроков и гарантированном выполнении всех договорных обязательств. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav class="ngl-controlls navigation pagination" role="navigation">
            <div class="nav-links"><a href="./"></a><a class="active" href="./about.html"></a><a href="./tolling.html"></a><a href="./advantage.html"></a><a href="./ecology.html"></a><a href="./contacts.html"></a></div>
          </nav>
        </div>
      </div>
      <footer class="main-footer">
        <div class="container">
          <p>Copyright&copy; 2020 ООО "Лэдинвест" | Все права защищены</p><a href="#">Политика конфиденциальности и файлы cookie</a>
        </div>
      </footer>
    </section>
  </body>
</html>
<!-- Facta, non verba-->

app/pug/about.pug
extends ./components/_layout.pug

block vars
	- var pageTitle = 'About';

block content_block
	

	section.ngl-home(style="background-image: url('../img/bg.jpg')")
		.ngl-page
			.container
				ul.languages
					li
						a(href="#") EN
					li
						a.active(href="#") RU
					li
						a(href="#") ES
					li
						a(href="#") CN
				.ngl-content
					.ngl-aside
						+header()
					
					.ngl-slider-wrapper
						a.next(href="./tolling.html")
							img(src="./img/next-btn.svg", alt="")
						.ngl-slider-wrap
							+slide-2()

				nav.ngl-controlls.navigation.pagination(role="navigation")
					.nav-links
						a(href="./")
						a.active(href="./about.html")
						a(href="./tolling.html")
						a(href="./advantage.html")
						a(href="./ecology.html")
						a(href="./contacts.html")

		+footer
